@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;900&display=swap');

:root
{
    font-size: 62.5%; 
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    --primary-color1: #2D2D2D;
    --primary-color2: #FFFFFF; 
    --primary-color3: #00D5E4;
    --primary-color4: #575555;
}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media all and (min-width: 1024px){
    .all{
        margin-left: 24rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    } 
    .all2{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .all .row0 {
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
        margin-left: 0;
    }
    h1{
        margin-bottom: 1.5rem;
    }
    .img1{
        display: none;
    }
    .all h1{
        max-width: 82rem;
        margin-left: 0;
    }
    .all .p1{
        margin-left: 0;
    }
    .menu{
        display: none;
    }
    .ull .ul{
        display: flex;
        margin-right: 23.6rem;
    }
    .m1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .a1{
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--primary-color2);
    text-decoration: none;
    padding-left: 3.6rem;
    }
    .all2 .img2 {
        display: flex;
        flex-direction: row;
        max-width: 61rem;
        max-height: 64rem;
    }
    .logo{
        margin-left: 24rem;
    }
   
}



body{
    background-color: var(--primary-color1);
}
.hed{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2.5rem;
    align-items: center;
}
li{
    list-style: none;
    display: inline;
}
.img2{
    display: none;
}
.ul{
    display: none;
}

hr{
    border: 0.1rem solid var(--primary-color4);
}
h1{
    font-size: 3rem;
    color: var(--primary-color2);
    line-height: 4.2rem;
    margin: 0.5rem 2rem;
}

.blue{
    font-size: 1.6rem;
    color: var(--primary-color3);
    line-height: 1.9rem;
    font-weight: 900;
}
.p1{

    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--primary-color2);
    margin: 0 2rem;
}
.row0{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
}
.row1{
    display: flex;
}
.row2{
    display: flex;
    align-items: center;
    margin-top: 2.7rem;
}
.p2{
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--primary-color2);
    margin-left: 2rem;
    max-width: 22rem;
}
.form1{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
.send{ 
    background-color: var(--primary-color4);
    border: 0;
    border-radius: 5px;
    margin-top: 0.5rem;
}
.stnd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hed .logo{
    transition: 0.5s;
}
.hed .logo:hover{
    transform: scale(1.2); 
}
.hed .menu{
    transition: 0.5s;
}
.hed .menu:hover{
    transform: scale(1.2); 
}
button{
    transition: 0.5s;
}
button:hover {
    transform: scale(1.2); 
}
input{
    transition: 0.5s;
}
input:hover {
    transform: scale(1.2); 
}
label{
    transition: 0.5s;
}
label:hover {
    transform: scale(1.2); 
}
::selection {
    background-color: rgb(183, 213, 241);
}